<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <%- include('__bootstrap.ejs')%>
</head>
<body>
<%- include('__header.ejs')%>
<br>
  
<div class="container">
  <h3 class="heading-color">Navbar With Dropdown</h3>
  <p>This example adds a dropdown menu in the navbar.</p>
  <img src="images/pikachoo.png" width="200px" height="200px"/>
</div>

</body>
</html>
